name: build

on: 
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ['ubuntu-latest']
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "1.25"
          cache: true
      - run: go version

      - name: Build & test
        env:
          GOPRIVATE: github.com/hashicorp/*
        run: |
          set -eux -o pipefail
          make build

