name: build

on: 
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ['ubuntu-latest']
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: "1.23"
          cache: true
      - run: go version

      - name: Build & test
        env:
          GOPRIVATE: github.com/hashicorp/*
        run: |
          set -eux -o pipefail
          make build

